/** Global Styles **/
*, :after, :before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li, button, label, input, p, a {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

a {
  color: #2c2c2c;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 10vh;
  width: 60%;
}

nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .logo h1 {
  margin: 2rem;
}

ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 0.6em 3rem;
  border-radius: 2rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro h2 {
  font-size: 7rem;
  padding-top: 2rem;
  background: linear-gradient(135deg, #02aab0, #00cdac);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
}

.intro h3 {
  font-size: 5rem;
  padding: 2rem 0rem 1rem;
}

.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.intro-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro-images svg {
  width: 80%;
}

.splash {
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin-right: 3rem;
}

.intro-text, .intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#clock {
  -webkit-animation: clock 2s infinite linear;
          animation: clock 2s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: 50% 90%;
          transform-origin: 50% 90%;
}

#plant-left {
  -webkit-animation: plant 2s infinite alternate ease;
          animation: plant 2s infinite alternate ease;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#plant-right {
  -webkit-animation: plant 2s infinite alternate ease 0.8s;
          animation: plant 2s infinite alternate ease 0.8s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#fill-circle {
  -webkit-animation: fill-circle 1s infinite alternate ease-in-out;
          animation: fill-circle 1s infinite alternate ease-in-out;
}

#border-circle {
  -webkit-animation: border-circle 1s infinite alternate ease-in-out;
          animation: border-circle 1s infinite alternate ease-in-out;
}

@-webkit-keyframes border-circle {
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  from {
    -webkit-transform: translate(-2%, 2%);
            transform: translate(-2%, 2%);
  }
}

@keyframes border-circle {
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  from {
    -webkit-transform: translate(-2%, 2%);
            transform: translate(-2%, 2%);
  }
}

@-webkit-keyframes fill-circle {
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  from {
    -webkit-transform: translate(2%, -2%);
            transform: translate(2%, -2%);
  }
}

@keyframes fill-circle {
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  from {
    -webkit-transform: translate(2%, -2%);
            transform: translate(2%, -2%);
  }
}

@-webkit-keyframes clock {
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes plant {
  to {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes plant {
  to {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 90vh;
  width: 60%;
  margin: auto;
  padding-top: 4rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3rem 0rem;
}

.project-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.project-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.project-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding-right: 2rem;
}

.project-info p {
  margin: 2rem 0rem 3rem;
  color: #2c2c2c;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.live, .code {
  cursor: pointer;
  background: transparent;
  border: none;
  margin-right: 2rem;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(135deg, #02aab0, #00cdac);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.code:hover {
  padding-left: 2rem;
}

.live {
  padding: .8rem 1.6rem;
  border: .3rem solid transparent;
  -o-border-image: linear-gradient(135deg, #02aab0, #00cdac) 1;
     border-image: linear-gradient(135deg, #02aab0, #00cdac) 1;
  position: relative;
}

.live:hover {
  color: white;
}

.live:hover::after {
  width: 100%;
}

.live::after {
  content: '';
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #02aab0, #00cdac);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .projects {
    display: -ms-grid;
    display: grid;
    width: 70%;
    -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
  .project {
    margin: 2rem;
    position: relative;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
  }
  .project:hover {
    background: black;
  }
  .project-image {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
  .project-image:hover {
    opacity: 0.4;
  }
  .project-info {
    position: absolute;
    display: none;
  }
}

@media screen and (max-width: 753px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 60%;
  }
}

@media screen and (max-width: 639px) {
  .main-head {
    width: 100%;
  }
  nav .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 3rem 0rem 2rem;
  }
  .intro-text {
    margin-top: 5rem;
    text-align: center;
  }
  .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-social a {
    margin: 2rem;
  }
  .intro-social img {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */